@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.Profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
    padding-top: 55px;
}

.Profile h2 {
    color: black;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.Profile h4 {
    color: black;
    transform: translateY(-15px);
    transform: translateY(-15px);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

}

.meJPG {
    width: 250px;
}

.Biodata {
    background: linear-gradient(#fffeff 0%, #ffffffc8 40%, #ffffff00 100%);
    padding-bottom: 200px;
    padding-top: 55px;
}

.projects {
    padding-top: 55px;
}

.projects h1 {
    color: black;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.footer {
    background-color: white;
    padding-bottom: 50px;
}

.contact a {
    font-size: 75px;
}

.row {
    padding: 0px 10px;
}

.Biodata h1 {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.footer h1 {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
