body {
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.Profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
    padding-top: 55px;
}

.Profile h2 {
    color: black;
}

.Profile h4 {
    color: black;
    transform: translateY(-15px);
}

.meJPG {
    width: 250px;
}

.Biodata {
    background: linear-gradient(#fffeff 0%, #ffffffc8 40%, #ffffff00 100%);
    padding-bottom: 200px;
    padding-top: 55px;
}

.projects {
    padding-top: 55px;
}

.projects h1 {
    color: white;
}

.footer {
    background-color: white;
    padding-bottom: 50px;
}

.contact a {
    color: black;
    font-size: 75px;
}

.row {
    padding: 0px 10px;
}